#cipher-box {
    font-family: 'Courier New', Courier, monospace;
    background-color: gainsboro;
    max-width: fit-content;
    font-size:30px;
}

#decoder-box {
    font-family: 'Courier New', Courier, monospace;
    background-color: gainsboro;
    max-width: fit-content;

    font-size:30px;
}

td {
    padding: 0px;
}